/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
}

#track-info {
  float: right;
  padding: 1rem;
}

body {
  background-image: url('../img/bg.png');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Luckiest Guy', sans-serif;
  color: darkred;
}

body > * {
  margin: 0 auto;
  padding: 10px;
}

.racetrack {
  background-color: rgba(244, 165, 96, 0.75);
  width: 1000px;
  border: 5px solid sienna;
  border-right: 5px solid red;
  border-radius: 5px;
  min-height: 300px;
  margin-top: 20vh;
}

form * {
  padding: 10px;
  color: darkred;
}

button {
  background-color: tan;
  border-radius: 10px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
